@media (prefers-reduced-motion: no-preference) {

#navigator-toolbox:not(:hover) .toolbar-items .toolbarbutton-1 {
	opacity: 0 !important;
	transition: opacity var(--animation-speed) var(--animation-interpolator) var(--animation-delay) !important;
}

#navigator-toolbox:hover .toolbar-items .toolbarbutton-1 {
	opacity: 1 !important;
	transition: opacity var(--animation-speed) var(--animation-interpolator) var(--animation-delay-on) !important;
}
.tabbrowser-tab[pending] {
	opacity: 0.5 !important;
	transition: var(--animation-speed) var(--animation-interpolator) !important;
}

.tabbrowser-tab .tab-background,
.toolbarbutton-1 > .toolbarbutton-icon {
	transition: var(--animation-speed) var(--animation-interpolator) !important;
}
.tabbrowser-tab:hover .tab-background,
.toolbarbutton-1:hover > .toolbarbutton-icon,
.tabbrowser-tab:active .tab-background,
.toolbarbutton-1:active > .toolbarbutton-icon {
	transition: calc(0.5 * var(--animation-speed)) var(--animation-interpolator) !important;
}


/*  experiments.css  */
toolbarbutton,
.subviewbutton,
stack, 
.toolbarbutton-icon,
vbox
{
    transition: background-color var(--animation-speed) !important;
}


/*  url_bar.css  */
#navigator-toolbox:not(:hover) #page-action-buttons {
	opacity: 0;
	transition: var(--animation-speed) var(--animation-interpolator) var(--animation-delay) !important;
}

#navigator-toolbox:hover #page-action-buttons {
	opacity: 1;
	transition: var(--animation-speed) var(--animation-interpolator) var(--animation-delay-on) !important;
}


/*  bookmark_bar.css  */
#PersonalToolbar:not([customizing]) {
	transition: all var(--animation-speed) var(--animation-interpolator) var(--animation-delay) !important;
	transform: scaleY(0.0) !important;
	box-shadow: 0 0 0 rgba(0,0,0,0.0) !important;
}
#nav-bar:focus-within + #PersonalToolbar,
#navigator-toolbox:hover > #PersonalToolbar {
	transition-delay: var(--animation-delay-on) !important;
	transform: scaleY(1.0) !important;
	box-shadow: 0 1px 0px rgba(0,0,0,0.25) !important;
}


/*  pip.css  */
.pip-wrapper[position="top"] {
	opacity: 0.25 !important;
    transform: scale(0.75) !important;
    transition: all var(--animation-speed) var(--animation-interpolator) var(--animation-delay) !important;
}
.pip-wrapper[position="top"]:hover {
	opacity: 1.0 !important;
    transform: scale(1.0) !important;
    transition: all var(--animation-speed) var(--animation-interpolator) var(--animation-delay-on) !important;
}
}