#PersonalToolbar {
	--bar-height: 20px !important;
	--bar-padding: 4px !important;
}

:root[uidensity="compact"] #PersonalToolbar {
	--bar-padding: 1px !important;
}

:root[uidensity="touch"] #PersonalToolbar {
	--bar-padding: 7px !important;
}

#PersonalToolbar:not([customizing]) {
	position: relative;
	margin-block-end: calc(0em - var(--bar-height) - 2 * var(--bar-padding)) !important;
	transform-origin: top !important;
	z-index: 1 !important;
}

#PlacesToolbarItems {
	display: flex !important;
	justify-content: center !important;
}

#PlacesToolbarItems > .bookmark-item {
	padding-block: var(--bar-padding) !important;
}

