/* Comment the following line to disable expanding tabs */
@import url("expanding_tabs.css");

.tab-context-line {
	display: none !important;
}
.tabbrowser-tab:not([selected], [multiselected]) > .tab-stack > .tab-background,
.toolbar-items .toolbarbutton-1 > .toolbarbutton-icon {
	border: 1px solid color-mix(in srgb, currentColor 5%, hsla(0,0%,0%,0.05)) !important;
	background-color: rgba(0,0,0,0.05) !important; 
}
.tabbrowser-tab:hover > .tab-stack > .tab-background:not([selected], [multiselected]),
.toolbar-items .toolbarbutton-1:hover > .toolbarbutton-icon {
	border: 1px solid var(--identity-icon-color, color-mix(in srgb, currentColor 50%, transparent)) !important;
	background-color: color-mix(in srgb, var(--identity-icon-color, currentColor) 10%, transparent) !important;
}

.tabbrowser-tab:is([visuallyselected=true], [multiselected]) > .tab-stack > .tab-background {
	box-shadow: none !important;
	background-color: color-mix(in srgb, var(--identity-icon-color, currentColor) 15%, transparent) !important;
	background-image: none !important;
	border: 1px solid color-mix(in srgb, var(--identity-icon-color, currentColor) 25%, transparent) !important;
}
.titlebar-spacer[type="pre-tabs"],
.titlebar-spacer[type="post-tabs"] {
	display: none !important;
}
#tabbrowser-tabs[haspinnedtabs]:not([positionpinnedtabs]) > #tabbrowser-arrowscrollbox > .tabbrowser-tab[first-visible-unpinned-tab] {
	margin-inline-start: initial !important; 
}