/*  Based on https://www.userchrome.org/megabar-styling-firefox-address-bar.html  */
#nav-bar {
	box-shadow: none !important;
}
#urlbar[breakout][breakout-extend] {
	inset-block-start: 5px !important;
	inset-inline-start: 0px !important;
	inline-size: 100% !important;
	padding: 0px !important;
}

[uidensity="compact"] #urlbar[breakout][breakout-extend] {
	inset-block-start: 3px !important;
}

[uidensity="touch"] #urlbar[breakout][breakout-extend] {
	inset-block-start: 4px !important;
}

#urlbar-input-container {
	text-align: center !important;
}

#urlbar[breakout][breakout-extend] > #urlbar-input-container {
	block-size: var(--urlbar-height) !important;
	padding: 0 !important;
}

#urlbar-results {
	padding-block: 0 !important;
}

#urlbar[breakout][breakout-extend] > #urlbar-background {
	animation: none !important;
}