
.tabbrowser-tab[fadein]:not([selected]):not([pinned]) {  
	max-inline-size: 10em !important;
	min-inline-size: 5em !important;
}

.tabbrowser-tab[selected][fadein]:not([pinned]) {
	min-inline-size: 15em !important;
}