{
	window,
	page,
	html,
	.main-content,
	scrollbar {
		scrollbar-color: rgba(150,150,150,0.8) rgba(0,0,0,1) !important;
		scrollbar-width: thin !important;
	}
}
* {
	scrollbar-color: rgba(150,150,150,0.8) rgba(0,0,0,1) !important;
	scrollbar-width: thin !important;
}