/* Comment the following line to disable expanding tabs */
@import url("expanding_tabs.css");

.tab-line {
	-moz-box-ordinal-group: 2 !important;
	/* margin-left: 10px !important;
	margin-right: 10px !important;*/
	height: 1px !important;
	opacity: 0.5 !important;
	transition: var(--animation-speed) var(--animation-interpolator) var(--animation-delay-on) !important;
}

#navigator-toolbox:not(:hover) .tab-line {
	opacity: 0 !important;
	transition: var(--animation-speed) var(--animation-interpolator) var(--animation-delay) !important;
}

.tabbrowser-tab::after, .tabbrowser-tab::before {
	border-left: none !important;
}

.tabbrowser-tab:not([selected],[multiselected]):not([pinned]) .tab-close-button,
.tabbrowser-tab:not([selected],[multiselected]):not([pinned]) .tab-icon-sound {
	opacity: 0 !important;
	transition: var(--animation-speed) var(--animation-interpolator) var(--animation-delay) !important;
}

.tabbrowser-tab:not([selected],[multiselected]):not([pinned]):hover .tab-close-button,
.tabbrowser-tab:not([selected],[multiselected]):not([pinned]):hover .tab-icon-sound {
	opacity: 1 !important;
	transition: var(--animation-speed) var(--animation-interpolator) var(--animation-delay-on) !important;
}

#navigator-toolbox:not(:hover) #tabs-newtab-button {
	opacity: 0 !important;
    transition: var(--animation-speed) var(--animation-interpolator) var(--animation-delay) !important;
}

#navigator-toolbox:hover #tabs-newtab-button {
	opacity: 1 !important;
    transition: var(--animation-speed) var(--animation-interpolator) var(--animation-delay-on) !important;
}

.tabbrowser-tab[pending] {
	opacity: 0.5 !important;
	transition: var(--animation-speed) var(--animation-interpolator) var(--animation-delay-on) !important;
}