/* Comment the following line to disable expanding tabs */
/*@import url("expanding_tabs.css");*/

.tabbrowser-tab:not([selected],[multiselected]):not([pinned]) .tab-close-button,
.tabbrowser-tab:not([selected],[multiselected]):not([pinned]) .tab-icon-sound {
	opacity: 0 !important;
	transition: var(--animation-speed) var(--animation-interpolator) var(--animation-delay) !important;
}

.tabbrowser-tab:not([selected],[multiselected]):not([pinned]):hover .tab-close-button,
.tabbrowser-tab:not([selected],[multiselected]):not([pinned]):hover .tab-icon-sound {
	opacity: 1 !important;
	transition: var(--animation-speed) var(--animation-interpolator) var(--animation-delay-on) !important;
}

#navigator-toolbox:not(:hover) #tabs-newtab-button {
	opacity: 0 !important;
    transition: var(--animation-speed) var(--animation-interpolator) var(--animation-delay) !important;
}

#navigator-toolbox:hover #tabs-newtab-button {
	opacity: 1 !important;
    transition: var(--animation-speed) var(--animation-interpolator) var(--animation-delay-on) !important;
}

.tabbrowser-tab[pending] {
	opacity: 0.5 !important;
	transition: var(--animation-speed) var(--animation-interpolator) var(--animation-delay-on) !important;
}

#navigator-toolbox:not(:hover) #tabbrowser-tabs .tab-background {
	border-radius: 50px !important;
	box-shadow: none !important;
	transition: var(--animation-speed) var(--animation-interpolator) var(--animation-delay) !important;
}
#navigator-toolbox:hover #tabbrowser-tabs .tab-background {
	transition: var(--animation-speed) var(--animation-interpolator) var(--animation-delay-on) !important;
}